<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connString" value="server=localhost;port=3306;user=root;password=Gao123456;charset=utf8mb3;database="/>
    <add key="database" value="darkgod"/>
    <add key="allowAutoCreateDatabase" value="1"/>
    <add key="configPath" value="F:\GitHub\GlxDarkGodGameServer\DarkGodGameServer\Server\ServerCfg"/>
    <add key="sqlTablePath" value="F:\GitHub\GlxDarkGodGameServer\DarkGodGameServer\DBBackup\darkgod.sql"/>
  </appSettings>
</configuration>